@import "~ebi-framework/css/ebi-global.min.css";
@import "~ebi-framework/css/theme-embl-petrol.css";

@import "~EBI-Icon-fonts/fonts.css";
@import "~EBI-Icon-fonts/EBI-Functional/fonts/EBI-Functional.css";
@import "~EBI-Icon-fonts/EBI-Common/fonts/EBI-Common.css";

.sequence {
  height: 150px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.masthead {
  background-image: url(../static/images/backgrounds/embl-ebi-background-4.jpg) !important;
  max-width: 1920px;
  margin-top: 0px;
  bottom: auto;
  top: 0px;
  background-color: white;
}

.loading {
  height: 5em;
  width: 5em;
}